body {
  margin-top: 10px;
  font-family: 'News Cycle', sans-serif;
  color: #196179;
}
label {
  font-size: 40px;
}
.bio {
  font-size: 20px;
}
#bio {
  float: left;
  width: 200px;
  margin-right: 10px;
  border-radius: 50%;
}
#paddle{
  float: right;
  width: 200px;
  margin-top: 10px;
  border-radius: 100%;
}
.cute-header {
  background-image: url("../img/bg2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 25px;
  padding: 130px;
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-family: 'Lobster', cursive;
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 50px;
}
.col-md-6 {
  height: 500px;
  overflow-y: auto;
  direction: ltr;
}
.col-left {
  background-color: #E1E1E1;
  border-radius: 25px;
}
.col-right {
  background-color: #E1E1E1;
  border-radius: 25px;
  text-align: center;
}
span {
  font-size: 100px;
}
