body {
  color: #196179;
}
.cute-header {
  background-image: url("../img/bg2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 25px;
  padding: 130px;
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-family: 'Lobster', cursive;
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 50px;
}
label {
  font-size: 40px;
  font-family: 'Lobster Two', cursive;;
}
p#intro {
  font-family: 'Rambla', sans-serif;
  font-size: 30px;
}
.bio {
  font-size: 18px;
}
img#bio {
  float: left;
  width: 200px;
  margin-right: 10px;
  border-radius: 50%;
}
img#paddle{
  border-radius: 50%;;
  width: 400px;
  display: block;
  margin: auto;
  margin-top: 8%;
}
.col-md-6 {
  height: 500px;
  overflow-y: auto;
  direction: ltr;
  border: 2px;
  border-color: #196179;
  background-color: #E1E1E1;
  border-radius: 25px;
}
span {
  font-size: 105px;
  font-family: 'Lobster Two', cursive;;
  text-align: center;
}
